{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-controls">
    <div class="form-row">
      <label for="{{ form.username.id }}">{{ form.username.label.text }}</label>
      {{ form.username() }}
    </div>
    <div class="form-row">
      <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>
      {{ form.password() }}
    </div>
    <div class="form-row">
      {{ form.submit(class_='btn') }}
    </div>
  </div>
</form>
{% endblock %}
