{% extends 'base.html' %}
{% block title %}Units{% endblock %}
{% block content %}
<h2>Units</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-controls">
    <p>{{ form.name.label }} {{ form.name() }}</p>
    <p>{{ form.abbreviation.label }} {{ form.abbreviation() }}</p>
    <p>{{ form.submit(class_='btn') }}</p>
  </div>
</form>
<form method="post" action="{{ url_for('admin.delete_selected_units') }}">
<table>
  <tr>
    <th><input type="checkbox" id="select-all-units"></th>
    <th>ID</th>
    <th>Name</th>
    <th>Abbrev.</th>
    <th>Actions</th>
  </tr>
  {% for unit in units %}
  <tr>
    <td data-label="Select"><input type="checkbox" name="unit_ids" value="{{ unit.id }}"></td>
    <td data-label="ID">{{ unit.id }}</td>
    <td data-label="Name">{{ unit.name }}</td>
    <td data-label="Abbrev.">{{ unit.abbreviation }}</td>
    <td data-label="Actions">
      <a href="{{ url_for('admin.edit_unit', unit_id=unit.id) }}">edit</a>
      <a href="{{ url_for('admin.delete_unit', unit_id=unit.id) }}">delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
  <p><input type="submit" value="Delete selected"></p>
</form>
<script>
document.getElementById('select-all-units').addEventListener('change', function() {
  document.querySelectorAll('input[name="unit_ids"]').forEach(function(cb) {
    cb.checked = document.getElementById('select-all-units').checked;
  });
});
</script>
{% endblock %}
